.logo-First-chr {
    font-family: 'serif';
    font-weight: bold;
    color: dodgerblue;
    font-size: xx-large;
    margin-left: 7px;
  }
  
  .logo-chr {
    font-family: serif;
    font-weight: bold;
    font-size: x-large;
    
    color: gold;
  }
  
  .logo-bottom-chr {
    font-family: serif;
    font-weight: bold;
    font-size: small;
    text-align: right;
    margin-top: -47px;
  }
  
  .banner-strip {
    background-color: black;
    height: 10px;
    border-bottom: 3px solid blue;
    position: absolute ;
    top:0;
    left:0;
    width: 100%;

  }
  
  .banner-strip-Bottom {
    background-color: black;
    height: 10px;
    border-top: 3px solid blue;
  }
  
  .banner-Marque {
    color: blue;
    background-color: white;
    border: 1px solid black;
  }
  
  .banner-navbar {
    margin-bottom: 0px;
    padding-bottom:30px;
  }


  .inner-border {
    margin: 0px;
    padding:5px 0px;
  }

  .navbar-brand{
    display: inline-flex;
  }

.myNavbar
{
border-bottom:black solid 5px;
border-top:black solid 5px;
height: auto;
padding: 0px;

display: inline-flex;
}

.mynavbar-wraper{
  border-bottom: #1b68bb solid 5px;
  border-top: #1b68bb solid 5px;
  width: inherit;
  display: inline-flex;
}



@media screen and (min-width: 480px) {
  .myNavbar {
  height: auto;  
}
// .myNavbar{
// margin: auto;
// padding:auto;
// }


}


@media screen and (max-width: 750px) {
  .myLogin{
   margin-top: -30px;
  }
  
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  }

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.from-inline{
  margin-top: -10px;
  margin-bottom : -10px;
}

.btnNavbar{
  margin-bottom: -30px;
}
.lblNavbar{
  margin-top: 0px;
  margin-bottom: -20px;
}

.nav-link{
  padding-top: 0px;
  padding-bottom: 0px;
  
}