
  <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Logo</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>

<!-- 
<div class="navbar-fixed">

    <div class="black lighten-2 " style="padding:5px 0px ">
        <div class="blue accent-3" style="padding:3px 0px ">

            <mat-toolbar style="background-color: black">
                <mat-toolbar-row>
                    <button class="right" mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>dehaze</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu" xposition="after" yposition="below" overlaptrigger="flase">
                        <ul mat-menu-item>
                            <mat-icon>check</mat-icon>
                            <span>Redial</span>
                            <appSqFt-header-menu></appSqFt-header-menu>
                        </ul>
                    </mat-menu>

                    <a mat-button class="brand-logo">
                        <b class="logo-First-chr">S</b>
                        <b class="logo-chr">quareFeet </b>
                        <b class="logo-First-chr">S</b>
                        <b class="logo-chr">olutions</b>
                    </a>
                    <appSqFt-header-menu></appSqFt-header-menu>
                    <span class="example-spacer"></span>
                    <appSqFt-header-menu></appSqFt-header-menu>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
</div>

 -->
