<div>
  <nav class="navbar navbar-expand-xl navbar-dark bg-dark black myNavbar">
    <div class="nav-wraper mynavbar-wraper">
      <button class="navbar-toggler navbar-toggler-left p-0" type="button" aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed"
        aria-label="Toggle navigation" (click)="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="d-md-inline-flex w-100 px-md-4">
        <div class="mr-auto d-md-inline-flex">
          <a class="navbar-brand mb-0 p-0 h1" routerLink="">
            <span class="d-flex flex-row">
              <b class="logo-First-chr">S</b>
              <b class="logo-chr">quareFeet </b>
              <b class="logo-First-chr">S</b>
              <b class="logo-chr">olutions</b>
            </span>
            <span class="logo-bottom-chr d-flex flex-row">.. a spcae management software</span>
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav mr-auto  text-center" >
              <li class="nav-item" ngbDropdown (click)="isCollapsed = true" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="" >Home 
                  <span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item dropdown" ngbDropdown  [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Re-Admin</a>
                <div class="dropdown-menu subMenuItem" aria-labelledby="dropdown01" ngbDropdownMenu>
                  <a class="dropdown-item subMenuItem" routerLink=""  (click)="isCollapsed = true">City Master</a>
                  <a class="dropdown-item subMenuItem" routerLink="" (click)="isCollapsed = true">Building Master</a>
                  <a class="dropdown-item subMenuItem" routerLink="" (click)="isCollapsed = true">Floor Master</a>
                  <a class="dropdown-item subMenuItem" routerLink="" (click)="isCollapsed = true">Seat Master</a>
                  <a class="divider"></a>
                  <a class="dropdown-item subMenuItem" routerLink="" (click)="isCollapsed = true">Category Master</a>
                  <a class="dropdown-item subMenuItem" routerLink="" (click)="isCollapsed = true">Business Master</a>
                  <a class="dropdown-item subMenuItem" routerLink="" (click)="isCollapsed = true">CostCenter Master</a>
                  <a class="divider"></a>
                  <a class="dropdown-item subMenuItem" routerLink=""  (click)="isCollapsed = true">User Access Master</a>
                </div>
              </li>

              <li class="nav-item" ngbDropdown  [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="about/48" (click)="isCollapsed = true">BookIt</a>
              </li>

              <li class="nav-item" ngbDropdown [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="about/48" (click)="isCollapsed = true">Team View</a>
              </li>

              <li class="nav-item" ngbDropdown [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="about/48" (click)="isCollapsed = true">About</a>
              </li>

              <li class="nav-item" ngbDropdown [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="user/28" (click)="isCollapsed = true">Login</a>
              </li>

              <li class="nav-item" ngbDropdown [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="" (click)="isCollapsed = true">Help</a>

              </li>
            </ul>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-12 myLogin d-flex row mb-0 pr-0">
          <div class="col-md-2 user_img m-0 p-2">
            <img ng-src="https://newcointranet.com/static//pfimages/AONNET_AH0124367_MThumb_1.jpg" src="https://newcointranet.com/static//pfimages/AONNET_AH0124367_MThumb_1.jpg"
              class="square">
              <!-- <img ng-src="https://newcointranet.com/static//pfimages/AONNET_A0732642_MThumb_1.jpg" src="https://newcointranet.com/static//pfimages/AONNET_A0732642_MThumb_1.jpg"
              class="square"> -->
          </div>
        
          <div class="col-md-10 m-md-0 p-md-0">        
          <form class="from-inline">
            <input class="form-control" type="text" style="margin-top: 1em;margin-bottom: -1em; height:auto" placeholder="Parvesh Kapoor Test (0732642)"
              readonly>
            <button class="btn btn-sm btn-outline-success" style="height:auto;width: -webkit-fill-available;text-align: left;" type="submit">Access Level : Admin </button>
          </form>
        </div>
      </div>
    </div>
    </div>
  </nav>
</div>