.logo-First-chr {
    font-family: 'serif';
    font-weight: bold;
    color: dodgerblue;
    font-size: xx-large;
    margin-left: 7px;
  }
  
  .logo-chr {
    font-family: serif;
    font-weight: bold;
    font-size: x-large;
    
    color: gold;
  }
  
  .logo-bottom-chr {
    font-family: serif;
    font-weight: bold;
    font-size: small;
    text-align: right;
    margin-top: -47px;
  }
  
  .banner-Marque {
    color: blue;
    background-color: white;
    border: 1px solid black;
  }
  
  .navbar-brand{
    display: inline-flex;
  }

.myNavbar
{
border-bottom:black solid 5px;
border-top:black solid 5px;
height: auto;
padding: 0px;

display: inline-flex;
}

.mynavbar-wraper{
  border-bottom: #1b68bb solid 5px;
  border-top: #1b68bb solid 5px;
  width: inherit;
  display: inline-flex;
}

@media screen and (min-width: 480px) {
  .myNavbar {
  height: auto;  
}

}


@media screen and (max-width: 750px) {
  .myLogin{
   margin-top: -30px;
  }
  
}

.from-inline{
  margin-top: -10px;
  margin-bottom : -10px;
}

.nav-link{
  padding-top: 0px;
  padding-bottom: 0px;
  
}

.marquee {
  height: 25px;
  width: auto;
  background: yellow;

  overflow: hidden;
  position: relative;

}

.subMenuItem {
line-height: normal;
}
