.logo-First-chr {
    font-family: 'serif';
    font-weight: bold;
    color: dodgerblue;
    font-size: xx-large;
    margin-left: 7px;
  }
  
  .logo-chr {
    font-family: serif;
    font-weight: bold;
    font-size: x-large;
    
    color: gold;
  }
  
  .logo-bottom-chr {
    font-family: serif;
    font-weight: bold;
    font-size: small;
    text-align: right;
    margin-top: -47px;
  }
  
  .banner-strip {
    background-color: black;
    height: 10px;
    border-bottom: 3px solid blue;
    position: sticky;
    top:0;
    left:0;
    width: 100%;

  }
  
  .banner-strip-Bottom {
    background-color: black;
    height: 10px;
    border-top: 3px solid blue;
  }
  
  .banner-Marque {
    color: blue;
    background-color: white;
    border: 1px solid black;
  }
  
  .banner-navbar {
    margin-bottom: 0px;
    padding-bottom:30px;
  }


  .inner-border {
    margin: 0px;
    padding:5px 0px;
  }

  .brand-logo{
    display: inline-flex;
  }

  // .rightMenu{
    
  // }
  // .example-icon {
  //   padding: 0 14px;
  // }
  
  // .example-spacer {
  //   flex: 1 1 auto;
  // }