<!-- <nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

  <li><a routerLink="">Home</a></li>
  <li><a routerLink="about/48">About</a></li>
  <li><a routerLink="user/28">Login</a></li>
  
    </ul>
  </div>
</nav> -->

<mat-toolbar color="primary">
  
  <mat-toolbar-row>
      <span>Square Feet - ng5-Mat</span>
      <button mat-button>Click me!</button>
    </mat-toolbar-row>
  
</mat-toolbar>

<appSqFt-form></appSqFt-form>


<!-- 
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="about/48">About</a></li>
        <li><a routerLink="user/28">Login</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="about/48">About</a></li>
        <li><a routerLink="user/28">Login</a></li>
      </ul>
    </div>
  </nav> -->


<!-- <router-outlet></router-outlet>  -->