<appSqFt-header class="fixed-top"></appSqFt-header>

<!-- this is to fix scrolling issue with fixed Top Navbar -->
<appSqFt-header class=""></appSqFt-header> 

<marquee>
    <p> 1) Next scheduled lockdown will be 23 Apr 2018 (Monday) …………………. 2) Apply &amp; get leaves approved on LAS atleast a
        day before, to support hoteling/agile seating use via Book-it option……….. (?) For any queries reach us at : India.Seating.Mailbox@alight.com
    </p>
</marquee>

<div class="container">
    <router-outlet></router-outlet>
</div>